<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Projects - Video Summariser</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">Video Summariser</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about-team">Team</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/about-project">References</a></li>
                    <li class="nav-item"><a class="nav-link"  href="/hire-me">Try here</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page projets-page">
        <section class="portfolio-block project-no-images">
            <div class="container">
                <div class="heading">
                    <h2>references</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="project-card-no-image">
                            <h3>Automated video summarization using speech transcripts</h3>
                            <h4>Taskiran, Cüneyt &amp; Amir, Arnon &amp; Ponceleon, Dulce &amp; Delp, Edward (2020). Automated video summarization ...</h4><a class="btn btn-outline-primary btn-sm" role="button" href="https://www.researchgate.net/publication/220979489_Automated_video_summarization_using_speech_transcripts">See More</a>
                            <div class="tags"><a href="#"></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="project-card-no-image">
                            <h3>A First Summarization System of a Video in a Target Language</h3>
                            <h4>Kamel Smaïli, Dominique Fohr, Carlos González-Gallardo, Michal Grega, Lucjan Janowski, etal.. ..</h4><a class="btn btn-outline-primary btn-sm" role="button" href="https://hal.archives-ouvertes.fr/hal-01819720/document">See More</a>
                            <div class="tags"><a href="#"></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="project-card-no-image">
                            <h3>Summarizing Videos with Attention</h3>
                            <h4>Summarizing Videos with Attention 5 Dec 2019· Jiri Fajtl, Hajar Sadeghi Sokeh, Vasileios Argyriou, Dorothy Monekosso, Paolo Remagnino</h4><a class="btn btn-outline-primary btn-sm" role="button" href="https://arxiv.org/abs/1812.01969">See More</a>
                            <div class="tags"><a href="#"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="/about-team">About Team</a><a href="/about-project">NLP Project</a></div>
        </div>
    </footer>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="../assets/js/theme.js"></script>
</body>

</html>